:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4/3;
    --wp--preset--aspect-ratio--3-4: 3/4;
    --wp--preset--aspect-ratio--3-2: 3/2;
    --wp--preset--aspect-ratio--2-3: 2/3;
    --wp--preset--aspect-ratio--16-9: 16/9;
    --wp--preset--aspect-ratio--9-16: 9/16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
/* Add your custom css here */
.filter--items-error { display: none; text-align: center; }

.home-page-slide-title,
.home-page-tab-text{
    text-transform: uppercase !important;
}
a.menu-item,
a.menu-item:hover{
    text-decoration: none !important;
}
.fl-node-g37r4wlx5ivt .uabb-creative-button-wrap a:hover,
.fl-node-g37r4wlx5ivt .uabb-creative-button-wrap a:hover *,
.fl-node-g37r4wlx5ivt .uabb-creative-button-wrap a:focus,
.fl-node-g37r4wlx5ivt .uabb-creative-button-wrap a:focus *{
    background-color: #44841A !important;
    color: white !important;
}

/* Akram css start */

.header-nav-donate{
    padding: 22px 35px 10px 30px !important;
}

html header.scrollfixed #main-menu .mainmenu_main{
    color: #000000 !important;
}

.header-nav-donate:after{
    top: -7px !important;
    left: 77px !important;
}


body, p, a, input, span, li,
h1, h2, h3, h4, h5, h6, button{
    font-family: Arial, 'Helvetica' !important;
    /* font-family: 'Oxfam TSTAR PRO bold', Arial, Helvetica, sans-serif !important; */
}

button{
    border: none !important;
}
.fl-page-header #main-menu a.menu_main_donate,
.home-page-slide-button,
button.oxfam_button.donate_submit_button.oxfam_orange_button,
.footer-nav-donate a{
    background-color: #008000 !important;
}
.fl-page-header #main-menu a.menu_main_donate:hover,
.home-page-slide-button:hover{
    background-color: #FFA500 !important;
}
.home-page-slide-box:before,
.home-page-slide-credit,
.fl-node-he9f0muoi4yc > .fl-row-content-wrap,
.slick-initialized .slick-slide.home-page-tab,
.hp2023_donate_form_new .donate_first_row input:checked+.donate_radio_button_label,
.title-sec,
.fl-node-7byk0e6rlwdp > .fl-row-content-wrap,
footer {
    background-color: #800080 !important;
}
.hp2023.hero_box >.fl-col-content {
    box-shadow: -16px 44px #800080 !important;
}

.fl-builder-content .fl-node-iadf9qgc4m58 a.fl-button *, .fl-builder-content .fl-node-iadf9qgc4m58 a.fl-button:visited *,
.fl-builder-content .fl-node-slavu4f9j3ko a.fl-button *, .fl-builder-content .fl-node-slavu4f9j3ko a.fl-button:visited *{
    color: #fff !important;
}
html .button_new2023.arrow_pink .fl-button:after,
html .button_new2023.arrow_black .fl-button:after {
    background-image: url(../images/hp2023_arrow_white.svg) !important;
}
html .joinusform .joinus_button_submit:after{
    background: url(../images/hp2023_arrow_black.svg) center center / contain no-repeat;
}


.hp2023_donate_form_new .donate_radio_button_label:hover,
.hp2023_donate_form_new .donate_first_row input:checked+.donate_radio_button_label:hover,
.fl-builder-content .fl-node-slavu4f9j3ko a.fl-button,
.fl-builder-content .fl-node-iadf9qgc4m58 .fl-button-wrap a.fl-button,
.footer_donate_button{
    background-color: #008000 !important;
    color: #fff !important;
}
.slick-initialized .home-page-tab.slick-current {
    background-color: #FFA500 !important;
    top: -16px;
    border-left: 3px solid #800080 !important;
}
.slick-initialized .home-page-tab.slick-current .home-page-tab-index {
    color: #008000 !important;
}

.fl-builder-content .fl-node-owgvnf65eaxp .fl-button,
.fl-builder-content .fl-node-3waeylj169fq .fl-button{
    background-color: #FFA500 !important;

}
h2 .fl-heading-text span, 
span.highligh_green,
.terms-sec,
.joinusform .joinus_button_submit{
    color: #000 !important;
    background: #FFA500 !important;
}
.footer-nav-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0 !important;
}
.ua-icon-direction {
    font-size: 24px;
}

.campaigns-section .fl-col-content.fl-node-content {
    margin: auto 30px;
    border: 5px solid #008000;
    padding-bottom: 20px;
}
.campaigns-section .fl-node-mox8dywh0g4n > .fl-module-content {
    margin-top: 6px;
}

.campaigns-section-wrap .fl-node-mur4ckqvxjti > .fl-module-content {
    margin-bottom: -15px;
}
.join-heading{
    font-size: 3.7rem;
}
.news-section-text .fl-module-content.fl-node-content {
    margin: 20px 0 0 0;
}

.news-section-wrap.carrousel-news .post .tags {
    background-color: #FFA500 !important;
    color: #000 !important;
}
.fl-node-2zl68jk07qbs > .fl-col-content {
    padding-right: 90px;
}
.postfooter{
    display: none;
}

/* Our Project */

.section_pad{
    padding: 50px;
}
.banner_section{
    background-image: url(../images/banner-global-placeholder.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: cover;
    min-height: 85vh;
    padding: 150px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_section .section_heading {
    max-width: 900px;
    width: 100%;
}
.banner_section h1{
    color: #fff;
    font-size: 6.5rem;
    line-height: 6.7rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: 20px 0;
}
.banner_section p{
    color: #fff !important;
    font-size: 1.9rem;
}
.banner_button .fl-button-text {
    font-weight: 700;
}
.under_banner_section,
.get_involved_section{
    background-color: #FFFFFF;
}
.under_banner_section h2{
    /* text-align: left !important; */
    margin-bottom: 30px !important;
    margin-top: 30px;
}
.projects_section{
    background-color: #EAEADF;
}

.projects_item {
    background: #fff;
    display: flex;
    margin-bottom: 40px;
}
.projects_img,
.projects_text {
    width: 50%;
}
.projects_img > div{
    width: 100%;
    height: 100%;
    display: block;
}
.projects_text{
    padding: 65px;
}
.under_banner_section {
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
.section_heading h2{
    margin-left: 0;
    margin-right: 0;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    color: #44841A;
    text-align: center;
    margin-bottom: 50px;
}
.section_heading p{
    font-size: 2rem;
    color: #333333;
    text-align: center;
}
.projects_text h3{
    color: #44841A;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.projects_item .project_readmore {
    margin: 30px 0 0;
}
.involved_icon_section_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}
.involved_icon_item {
    width: 33%;
    text-align: center;
    padding: 30px 10px 50px;
}
.involved_icon_item:nth-child(2){
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #acacac;
    border-right-width: 1px;
    border-left-width: 1px;
}

.involved_icon {
    margin-bottom: 30px;
}
.involved_icon i {
    font-size: 120px;
    color: #44841A;
}
.icon-oxfam-icon-heart-2:before {
    content: "\e958";
}
.icon-oxfam-icon-lightbulb:before {
    content: "\e96a";
}
.icon-oxfam-icon-dollar-circle:before {
    content: "\e934";
}
.involved_text a {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
}
.oxfam_sharing_container{
    background-color: #EAEADF;
}

/* blog */

.blogs-page #main-menu {
    background: #fff !important;
}
.blogs-page #main-menu .mainmenu_main {
    color: #000;
}
.blogs-page #main-menu:before {
    background: none !important;
}
.blogs-page header #main-menu .menu_main_logo {
    background: url(../images/black-logo.png) center center / cover no-repeat;
}
.blog_banner_section {
    padding: 200px 50px 50px;
    background-color: #EAEADE;
    display: grid;
    grid-template-columns: 65% 35%;
}
.banner_mata_part {
    padding-left: 20px;
    padding-top: 20px;
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #61a534;
    border-left-width: 4px;
}
.banner_text_part {
    padding-top: 20px;
}
.reach_us_part h2 {
    margin-top: 30px;
    font-size: 2.8rem;
    line-height: 2.6rem;
    font-weight: 400;
}
.banner_text_part h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
}
.blogs_section {
    padding: 50px 100px;
    background: #EAEADE;
}
.blogs_item {
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
}
.blogs_title h3 {
    padding: 0;
    font-size: 2rem;
    line-height: 2.9rem;
}
.blog_date,
.blog_link a{
    font-size: 1.4rem;
}
.blog_link a{
    background-color: #008000;
    color: #fff;
    padding: 12px;
}
.blogs_meta {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    position: relative;
    left: -50px;
}
.show_blogs_btn {
    text-align: center;
}
.show_blogs_btn button {
    padding: 15px 30px;
    border-radius: 0;
    background: #008000;
}


/* our story */
.story_under_banner h2 {
    margin: 0;
}
.quote_sectiion {
    padding-top: 0;
}
.quote_inner_sectiion {
    position: relative;
    padding-top: 60px;
    padding-left: 280px;
    padding-bottom: 70px;
    margin-right: 90px;
    overflow: hidden;
}
.quote_img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.quote_text {
    position: relative;
    z-index: 2;
    margin: 0;
    background-color: #eaeade;
    padding: 30px 30px 20px 20px;
    margin: 0 20px 0 0;
}
.women_rights a {
    color: #333333;
}
.why_women_section {
    background-color: #44841A;
}
.why_women_section h2 {
    color: #fff;
}
.why_women_section h2 {
    color: #fff;
    text-align: left;
    margin: 0;
}
.why_women_text_section p,
.why_women_text_section li{
    color: #fff;
}
.why_women_counter_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.women_counter_item {
    background: #fff;
    padding: 35px;
}
.women_counter_item h4 {
    font-size: 55px;
    color: #44841A;
}
.women_counter_item p {
    margin-bottom: 0;
}
.women_rights {
    background-color: #EAEADF;
    /* background-image: url(https://www.oxfam.ca/wp-content/uploads/2018/09/oxfam-pattern-gray-small-1.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
.poverty_section_1 p:nth-child(1) {
    border-left: 5px solid #61A534 !important;
    padding: 10px 20px;
}
.poverty_section_2 h3 {
    color: #44841A;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
}
.poverty_section {
    background: #EAEADF;
}
.poverty_section_2 p:last-child {
    margin: 0;
}
span.caption-two {
    padding: 0 0 0 25px;
    display: block;
    font-size: 1.6rem;
}
.icon-oxfam-icon-quotes {
    position: relative;
    top: -8px;
    color: #44841a;
    font-size: 60px;
}
.icon-oxfam-icon-quotes:before{
    content: "\e9a6";
}
.quote_description {
    display: flex;
    margin-bottom: 20px;
}
.quote_description span {
    padding-left: 10px;
}
.quote_description span {
    padding-left: 10px;
    font-size: 2.2rem;
    line-height: 3.6rem;
}
.quote-caption {
    padding-left: 70px;
}
.icon-oxfam-icon-mother-daughter:before {
    content: "\e97d";
}
.icon-oxfam-icon-handshake:before {
    content: "\e956";
}
.icon-oxfam-icon-sound:before {
    content: "\e9b3";
}

/* our team */
.board_directors,
.senior_leadership {
    background: #EAEADE;
}
.team_item {
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
.person_img_wrap {
    position: relative;
    height: fit-content;
}
.person_mask {
    background-size: cover !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.gray_mask{
    background: url(../images/people_mask_beige2.png);
}
.white_mask{
    background: url(../images/people_mask_white.png);
}
button:focus {
    outline: none !important;
}
.board_directors h2 {
    color: #333333;
}
.person_name {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
}
.person_designation {
    font-size: 2.2rem;
    color: #44841A;
    font-weight: bold;
    margin-top: 10px;
}
.person_twitter:before {
    margin-right: -2px;
}
.person_linkedin a {
    text-decoration: none;
}

/* project single page */

.project-single-page .under_banner_section {
    max-width: 100%;
    width: 100%;
    margin: auto;
}
.project-single-page .under_banner_section h2 {
    text-align: left;
    margin: 0;
    padding-bottom: 50px;
}
.project_info {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
}
.project_meta {
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #61a534;
    border-left-width: 3px;
    padding-left: 15px;
}
.project_info h3 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.project_meta h4,
.we_doing .involved_text h4 {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
    padding-bottom: 0;
}
.project_meta p,
.we_doing .involved_text p {
    margin-bottom: 20px;
}
.impact_btn .project_readmore {
    margin-bottom: 1px;
}
.icon-oxfam-icon-sunshine:before {
    content: "\e9bd";
}
.icon-oxfam-icon-hand-1:before {
    content: "\e955";
}
.achieved_section {
    background: #EAEADF;
}
.achieved_text_1 h3,
.achieved_text_2 h3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    color: #44841A;
}
.banner_section h3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 0;
}

/* contact us */

.contact-us-page .banner_section {
    /* background-image: url(../images/contact-us-woman-in-village.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
}
.banner_section {
    position: relative;
}
.banner_section::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.25);
}
.banner_section > div{
    position: relative;
    z-index: 11;
}
.contact-us-page .under_banner_section {
    max-width: 100%;
}
.contact-us-page .section_heading h2 {
    text-align: left;
    margin-top: 0;
    padding-bottom: 30px;
}
.contact-us-page .under_banner_section .section_heading h3 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.contact-us-page .under_banner_section .section_heading p {
    text-align: left;
}
.contact-us-page .under_banner_section .section_heading {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    max-width: 100%;
    margin: auto;
}
.contact_info_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0;
    grid-gap: 25px;
}
.contact_info h4 {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.Confidentially_section {
    background: #44841A;
}
.Confidentially_section h2 {
    color: #fff;
    text-align: left;
    margin: 0;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
}
.Confidentially_section p{
    color: #fff;
}
.Confidentially_section p:last-child,
.contact_info p:last-child{
    margin-bottom: 0;
}
.contact-us-page .banner_section p {
    text-align: left;
}

/* faqs */

.our-mission-page h2 {
    text-align: center;
}
.faq_text h3 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.faqs_question {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}
.faqs_question h3 {
    padding: 0;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}
.faqs_answer {
    max-height: 0;
    padding: 0 30px;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faqs_answer_show {
    max-height: 300px;
    padding: 20px 30px;
}
.faqs_question { 
    display: flex;
    gap: 15px;
    align-items: center;
    background: #EAEADF;
    padding: 10px;
}
.faqs_item{
    margin-bottom: 15px;
}

/* privacy page */
.privacy-policy-page .banner_section p {
    text-align: left;
}
.privacy-policy-page .under_banner_section {
    max-width: 100%;
    background-color: #EAEADF;
}
.privacy_faqs h2{
    margin-bottom: 20px;
}
.faq_text{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    max-width: 100%;
    margin: auto;
    padding-bottom: 50px;
}
.faq_section{
    padding-bottom: 0px;
}

/* Accessibility */
.banner_section p{
    text-align: left;
}
.accessibility-page .under_banner_section {
    max-width: 100%;
    background-color: #EAEADF;
}

/* careers */
.careers-page .under_banner_section {
    max-width: 100%;
}

/* gallery */

.gallery_section {
    background: #EAEADF;
}
.gallery_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.gallery_section .gallery_img img {
    width: 295px;
    height: 195px;
    object-fit: cover;
    object-position: center;
}
.gallery_section h2 {
    margin-bottom: 30px;
}
.gallery_wrapper p {
    margin-bottom: 0;
}

/* light box */

.gallery_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery_item {
    width: calc(25% - 20px);
    box-sizing: border-box;
}
.gallery_img img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

/* light box */

.lightbox {
    position: fixed !important;
    inset: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lb-data .lb-number {
    display: inline-block !important;
    padding-bottom: 0 !important;
    font-size: 16px !important;
    color: #fff !important;
}

.lb-nav a.lb-prev {
    width: 2% !important;
    background-image: url(../images/left-arrow.png) !important;
    opacity: 1 !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    margin-left: 20px;
}
.lb-nav a.lb-next {
    width: 2% !important;
    background-image: url(../images/right-arrow.png) !important;
    opacity: 1 !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    margin-right: 20px;
}
.lb-data .lb-close {
    width: 2% !important;
    background: url(../images/close-btn.png) !important;
    opacity: 1 !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}


/* Akram css end */
