/*
    =================================================
                        DESKTOP
    =================================================
*/

@media screen and (max-width: 1420px) {
    #main-menu {
        padding-left: 0px;
        padding-right: 0px;
    }
    .home-page-slide-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    #main-menu >ul {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media screen and (max-width: 1147px) {
    .fl-row:not(.nopadding) >.fl-row-content-wrap >.fl-row-content {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media screen and (max-width: 1080px) {
    #main-menu >ul {
        padding-left: 20px;
        padding-right: 20px;
    }
    #main-menu .mainmenu_main {
        padding: 0px 8px 0px 8px;
    }

}



/*
    =================================================
                        TABLET
    =================================================
*/
@media only screen and (max-width: 992px) {

    #main-menu >ul {
            height: 100vh
    }

    .fl-page-header #main-menu li[data-id="menu-40170-title"], .fl-page-header #main-menu li[data-id="menu-40171-title"], .fl-page-header #main-menu li[data-id="menu-40172-title"] {
        background: #0c884a;
    }
    #main-menu >ul >li {
        padding: 12px 0;
    }

    
    .uabb-modal-parent-wrapper .dashicons-no-alt, 
    .uabb-modal-parent-wrapper .dashicons-no-alt:before {
        font-size: 30px;
    }
    .uabb-modal-parent-wrapper .uabb-modal-close {
        top: -30px;
        right: -6px;
        left: initial;
    }

    /***************************/
    /* Framework styles layout */
    /***************************/
    .menu-mobile-header {
        background: #000;
    }
    #main-menu >ul {
        padding-left: 0;
        padding-right: 0;
    }
    #main-menu >ul >li:last-child {
        background: #fff;
            padding: 0;
    }
    .fl-page-header #main-menu a.menu_main_donate {    max-width: 100vw;margin:0;text-align:center}
    
    #main-menu >ul {
        padding-left: 0px;
        padding-right: 0px;
    }

    .fl-row:not(.nopadding) >.fl-row-content-wrap >.fl-row-content {
        padding-left: 36px;
        padding-right: 36px;
    }

    h1, .h1, .h1 p, .h1 .fl-heading {
        font-size: 36px;
        font-size: 3.6rem;
        line-height: 36px;
        line-height: 3.6rem;
    }



    h2, .h2, .h2 p, .h2 .fl-heading {
        font-size: 28px;
        font-size: 2.8rem;
        line-height: 32px;
        line-height: 3.2rem;
    }

    h2 .fl-heading-text span, 
    .h2 .fl-heading-text span, 
    span.highligh_green {
            padding: 5px 5px 10px;
    }
    body.os_MacOS h2 .fl-heading-text span, 
    body.os_MacOS .h2 .fl-heading-text span, 
    body.os_MacOS span.highligh_green {
        padding: 15px 5px 6px;
    }

    body.os_Linux h2 .fl-heading-text span, 
    body.os_Linux .h2 .fl-heading-text span, 
    body.os_Linux span.highligh_green {
        padding: 10px 5px 5px;
    }

    h3, .h3, .h3 p, .h3 .fl-heading {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 24px;
        line-height: 2.4rem;
    }


    p, .p, ul, ol {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 27px;
        line-height: 2.7rem;
    }

    .large, p.large, p .large, .large p,
    .large ol, ol.large, .large ul, ul.large {
        font-size: 20px;
        font-size: 2rem;
        line-height: 30px;
        line-height: 3rem;
    }

    .hp2023_stats p {
        font-size: 40px;
        font-size: 4rem;
    }

    .hp2023_stats_item >.fl-col-content {
        grid-template-columns: 75px auto;
    }





}
/*
    =================================================
                        MOBILE
    =================================================
*/
@media only screen and (max-width: 768px) {
    /***************************/
    /* Framework styles layout */
    /***************************/
    .fl-row:not(.nopadding) >.fl-row-content-wrap >.fl-row-content {
        padding-left: 18px;
        padding-right: 18px;
    }

    #joinusform_0 {
        display: block;
    }
    .page-template-single-menuoverlap #main-menu:before {
        background: none;
    }

}



/*
    =================================================
                        SMALL MOBILE
    =================================================
*/
@media only screen and (max-width: 480px) {


.donate_first_row, .donate_second_row {
    padding: 0;
}

    
}


